.hero {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 120px 7% 50px;

  background:
    radial-gradient(
      circle at center,
      rgba(214, 11, 82, 0.2),
      transparent 40%
    ),
    #050505;

  overflow: hidden;
}

.hero-left {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left img {
  width: 85%;
  max-width: 550px;

  animation: float 4s ease-in-out infinite;
}

.hero-right {
  flex: 1;
}

.hero-right h1 {
  font-size: 75px;
  color: white;
  margin-bottom: 25px;
  line-height: 1.2;
}

.hero-right h1 span {
  color: #d60b52;
}

.hero-right p {
  color: #ddd;
  font-size: 22px;
  line-height: 1.8;
  margin-bottom: 40px;
}

.search-box h3 {
  color: #d60b52;
  margin-bottom: 20px;
  font-size: 28px;
}

.filters {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.filters select,
.filters button {
  height: 55px;
  border-radius: 12px;
  border: 1px solid #333;

  background: #111;
  color: white;

  padding: 0 20px;
  font-size: 16px;
}

.filters button {
  background: #d60b52;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.filters button:hover {
  transform: translateY(-3px);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-right h1 {
    font-size: 50px;
  }

  .filters {
    justify-content: center;
  }
}