.footer {
  width: 100%;
  background: #0b0b0b;
  padding: 80px 7%;
  border-top: 1px solid #1a1a1a;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.footer-logo h2 {
  color: white;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer-logo .logo img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
.email {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #d9d9d9;
  margin-bottom: 25px;
}

.footer-lang {
  width: 180px;
}

.footer-links h3,
.footer-about h3 {
  color: white;
  margin-bottom: 25px;
  font-size: 24px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  color: #bdbdbd;
  margin-bottom: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links ul li:hover {
  color: #d60b52;
}
.footer-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #d60b52;
}
.footer-about {
  max-width: 320px;
}

.footer-about p {
  color: #bdbdbd;
  line-height: 1.9;
  margin-bottom: 25px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 18px;
}

.socials svg {
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.socials svg:hover {
  color: #d60b52;
  transform: translateY(-3px);
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .email,
  .socials {
    justify-content: center;
  }

  .footer-lang {
    margin: auto;
  }
}
