.privacy-page {
  min-height: 100vh;

  padding: 120px 7%;

  background:
    radial-gradient(
      circle at center,
      rgba(214, 11, 82, 0.15),
      transparent 35%
    ),
    #050505;

  color: white;
}

.privacy-container {
  max-width: 1200px;
  margin: auto;
}

.privacy-header {
  margin-bottom: 60px;
}

.privacy-header h1 {
  font-size: 60px;
  color: white;
}

.privacy-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.privacy-section p {
  color: #dddddd;

  line-height: 2.3;

  font-size: 22px;

  margin-bottom: 25px;
}

@media (max-width: 992px) {

  .privacy-page {
    padding: 100px 20px;
  }

  .privacy-header h1 {
    font-size: 42px;
  }

  .privacy-section h2 {
    font-size: 28px;
  }

  .privacy-section p {
    font-size: 18px;
  }

}