.privacy-page {
  min-height: 100vh;

  padding: 90px 5%;

  background:
    radial-gradient(
      circle at center,
      rgba(214, 11, 82, 0.15),
      transparent 35%
    ),
    var(--hero-bg);

  color: var(--text-color);
}

.privacy-container {
  max-width: 900px;
  margin: auto;
}

/* =========================
   HEADER
========================= */

.privacy-header {
  margin-bottom: 35px;
}

.privacy-header h1 {
  font-size: 38px;

  color: var(--text-color);

  font-weight: 700;
}

/* =========================
   CONTENT
========================= */

.privacy-section {
  margin-bottom: 35px;
}

.privacy-section h2 {
  font-size: 24px;

  color: var(--text-color);

  margin-bottom: 15px;
}

.privacy-section p {
  color: var(--secondary-text);

  font-size: 16px;
  line-height: 1.9;

  margin-bottom: 15px;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 992px) {
  .privacy-page {
    padding: 80px 20px;
  }

  .privacy-header h1 {
    font-size: 30px;
  }

  .privacy-section h2 {
    font-size: 20px;
  }

  .privacy-section p {
    font-size: 15px;
    line-height: 1.8;
  }
}