.benefits-page {
  min-height: 100vh;

  padding: 120px 7%;

  background:
    radial-gradient(
      circle at center,
      rgba(214, 11, 82, 0.15),
      transparent 35%
    ),
    #050505;

  color: white;
}

.benefits-container {
  max-width: 1200px;
  margin: auto;
}

.benefits-header {
  margin-bottom: 60px;
}

.benefits-header h1 {
  font-size: 60px;
  color: white;
}

.benefits-section {
  margin-bottom: 55px;
}

.benefits-section h2 {
  font-size: 36px;
  color: white;

  margin-bottom: 25px;
}

.benefits-section p,
.benefits-section li {
  color: #dddddd;

  line-height: 2.2;

  font-size: 22px;
}

.benefits-section ul {
  padding-inline-start: 25px;
}

.benefits-section li {
  margin-bottom: 18px;
}

@media (max-width: 992px) {

  .benefits-page {
    padding: 100px 20px;
  }

  .benefits-header h1 {
    font-size: 42px;
  }

  .benefits-section h2 {
    font-size: 28px;
  }

  .benefits-section p,
  .benefits-section li {
    font-size: 18px;
  }

}