.support-page {
  min-height: 100vh;

  padding: 120px 7%;

  background:
    radial-gradient(
      circle at center,
      rgba(214, 11, 82, 0.15),
      transparent 35%
    ),
    var(--bg-color, #050505);

  color: var(--text-color, white);
}

.support-container {
  max-width: 1200px;
  margin: auto;
}

.support-header {
  margin-bottom: 60px;
}

.support-header h1 {
  font-size: 40px;
  color: var(--text-color, white);
}

.support-content ul {
  padding-inline-start: 25px;
}

.support-content li {
  color: var(--secondary-text, #dddddd);

  line-height: 2.4;

  font-size: 16px;

  margin-bottom: 25px;
}

/* =========================
   Responsive
========================= */

@media (max-width: 992px) {

  .support-page {
    padding: 100px 20px;
  }

  .support-header h1 {
    font-size: 25px;
  }

  .support-content li {
    font-size: 12px;
  }
}