.navbar {
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 7%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 100;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.logo span {
  color: white;
  font-size: 38px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;

  list-style: none;
}

.nav-links li {
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #d60b52;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.lang-select {
  background: transparent;
  color: white;
  border: 1px solid #444;
  padding: 8px 15px;
  border-radius: 10px;
  outline: none;
}

.lang-select option {
  background: #111;
}
.user-menu-container {
  position: relative;
}

.avatar-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
}

.user-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 220px;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
  z-index: 9999;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  width: 100%;
  display: block;
  padding: 14px 18px;
  text-align: right;
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.dropdown-item:hover {
  background: #2b2b2b;
}

.logout-btn {
  color: #ff5d73;
}
@media (max-width: 992px) {
  .nav-links {
    display: none;
  }
}
.logo {
  width: 100px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #d60b52;
}