body {
  margin: 0;
  font-family: sans-serif;
  background: #0d0d0d;
  color: white;
}

* {
  box-sizing: border-box;
}

html[dir="rtl"] body {
  direction: rtl;
}

html[dir="ltr"] body {
  direction: ltr;
}